API_ID=4255818
API_HASH=c80924c6c7b6ef8b445c47051093b9b6
BOT_TOKEN=123456:1868148246:AAENa6tLx1WGbYEsmLfmtP6bSGsy2ea8Rtw
SESSION_STRING=BQAUfn53l0r6VaT6kgYqc8PXtBiFSPGAmAFMym5VK7QV7gVVS9Ha4ac5tIXZDb3FDKD-fVkztqfS0G4MC4f3V1GkstJtW29rEIHlxry_n0j5kiy_XoZTY21pQcUh1DOHf79GvrlKi_goWkbeIRMywn3SKoZYIgIzZOO1LgktRjrPbQ0YnQCjebchXawTEo6pikqLzdSU4VQLh-iu8bAYxJt1_-3PCoX4PQtgGjW76--OlDBt2E9QiyQ-NjIFZZuDFp49oU083UAkH8tJmeMjnvlG8woXAyqFxuedOr3tnsn3JwQj82zcPTQgmAyWeikPxSSImxCurotHd09frG1vDTVUX1pa2wA
CHAT=-1001591841692
ADMINS=1599757019
